## Домашнее задание по алгоримам

На выбор, в зависимости от вашего уровня


1) https://informatics.msk.ru/mod/statements/view.php?id=192#1 -- решите задчки на бин-поиск

2) https://informatics.msk.ru/mod/statements/view.php?id=256&chapterid=164#1 https://informatics.msk.ru/mod/statements/view.php?id=255#1 -- задачки на обход графов, обе темы одинаково важны и фундаментальны, поэтому решить 4 задачки из одной темы хуже чем по 2 задачки из двух.

3) http://codeforces.com/contests -- поучавствуйте в соревновании на кодфорсе, можно в риал-тайме (что интереснее), можно в виртуальном, это не обязательно к следующему уроку

### Бонус-задачка про графы

для ее решения вам надо уметь пользоваться библиотекой pandas.


У некоторой компании есть записи о пользователях -- их телефон и email (его хэш). У одного и того же человека может быть несколько телефонов и несколько почт. Вам надо каждой строке в таблице проставить некоторый id-шник пользователя.

Пример: в таблице есть строки

(+79999990001, 'qwerty'), (+79999990321, 'qwerty'), (+79999990321, 'asdasd')

все эти строки соответствуют одному пользователю, так как у первой и второй совпадают почты, а у второй и третей - телефоны, поэтому мы понимаем, что это один и тот же пользователь. Соответственно мы ставим всем трем строкам, один и тот же id-шник (например 5; id -- это любой идентификатор с единственным условием: у строк соответствующих одному пользователю он один и тот же, если пользоавтели разные -- то и id тоже разные)

In [2]:
import pandas as pd
import numpy as np
from collections import deque

data = pd.read_excel('users_phones.xlsx')

data.head()

         phone                                              email
0  79999999250  547f5064447fe21fa7c4dbdbda15ac5c05d73d23e9d476...
1  79999999245  b064f7b61d192560afa8ec690aa913c66141942d4392e2...
2  79999999249  018f1415fd9b2926c997c2ff3be536b362f9142fb79a3b...
3  79999999196  bd2f299ebe07ae8d1c1fd00ed15635b1490caebc508b0b...
4  79999999145  d1753e01929869982ac78825b0f31ad5ccb1a44068fbe7...

In [3]:
phones = list(data['phone'])
mails = list(data['email'])

In [4]:
df = pd.DataFrame(data)

In [5]:
def comp(s):
    comp = {s}
    queue1 = deque([s])
    queue2 = deque()
    while len(queue1) > 0:
        vert = queue1.popleft()
        for neib in dict1[vert]:
            if neib not in comp:
                comp.add(neib)
                for phone in dict2[neib]:
                    if phone not in comp: 
                        comp.add(phone)
                        queue1.append(phone)
        dict1.pop(vert)
    return comp

In [11]:
dict1 = df.groupby(['phone'])["email"].apply(list)
dict2 = df.groupby(['email'])["phone"].apply(list)
dictionary = {}
i = 1
while len(dict1)>0:
    key = dict1.keys()[0]
    for elem in comp(key):
        dictionary[elem] = i
    i+=1

In [12]:
df["id"] = df.apply(lambda row:  dictionary[row[0]], axis = 1)

In [13]:
df.to_excel('result.xlsx', index=False)